--
-- PostgreSQL database dump
--

-- Dumped from database version 16.4 (Debian 16.4-1.pgdg120+1)
-- Dumped by pg_dump version 16.4 (Debian 16.4-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: material; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA material;


ALTER SCHEMA material OWNER TO postgres;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: random_between(integer, integer); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.random_between(low integer, high integer) RETURNS integer
    LANGUAGE plpgsql
    AS $$
BEGIN
    RETURN floor(random() * (high - low + 1) + low);
END;
$$;


ALTER FUNCTION public.random_between(low integer, high integer) OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: category; Type: TABLE; Schema: material; Owner: postgres
--

CREATE TABLE material.category (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    company_id bigint NOT NULL
);


ALTER TABLE material.category OWNER TO postgres;

--
-- Name: category_id_seq; Type: SEQUENCE; Schema: material; Owner: postgres
--

ALTER TABLE material.category ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME material.category_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: company; Type: TABLE; Schema: material; Owner: postgres
--

CREATE TABLE material.company (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    url character varying(255) NOT NULL
);


ALTER TABLE material.company OWNER TO postgres;

--
-- Name: company_id_seq; Type: SEQUENCE; Schema: material; Owner: postgres
--

ALTER TABLE material.company ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME material.company_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: product; Type: TABLE; Schema: material; Owner: postgres
--

CREATE TABLE material.product (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    price numeric(10,2) NOT NULL,
    company_id bigint NOT NULL,
    sub_category_id bigint NOT NULL
);


ALTER TABLE material.product OWNER TO postgres;

--
-- Name: product_id_seq; Type: SEQUENCE; Schema: material; Owner: postgres
--

ALTER TABLE material.product ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME material.product_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: sub_category; Type: TABLE; Schema: material; Owner: postgres
--

CREATE TABLE material.sub_category (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    category_id bigint NOT NULL
);


ALTER TABLE material.sub_category OWNER TO postgres;

--
-- Name: sub_category_id_seq; Type: SEQUENCE; Schema: material; Owner: postgres
--

ALTER TABLE material.sub_category ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME material.sub_category_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: app_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.app_user (
    id bigint NOT NULL,
    password character varying(255),
    username character varying(255)
);


ALTER TABLE public.app_user OWNER TO postgres;

--
-- Name: app_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.app_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.app_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: app_user_roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.app_user_roles (
    user_id bigint NOT NULL,
    roleEntity character varying(255)
);


ALTER TABLE public.app_user_roles OWNER TO postgres;

--
-- Name: balcony_entity; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.balcony_entity (
    id bigint NOT NULL,
    balcony_area_square_feet double precision NOT NULL,
    estimated_cost_per_square_foot double precision NOT NULL,
    floor_material character varying(255),
    has_balcony boolean NOT NULL,
    railing_material character varying(255),
    structure_type character varying(255),
    total_estimated_cost double precision NOT NULL
);


ALTER TABLE public.balcony_entity OWNER TO postgres;

--
-- Name: balcony_entity_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.balcony_entity ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.balcony_entity_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: baseboard_entity; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.baseboard_entity (
    id bigint NOT NULL,
    height_inches double precision NOT NULL,
    material character varying(255),
    paint_color character varying(255)
);


ALTER TABLE public.baseboard_entity OWNER TO postgres;

--
-- Name: baseboard_entity_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.baseboard_entity ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.baseboard_entity_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: bathroom_accessories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.bathroom_accessories (
    id bigint NOT NULL,
    height double precision NOT NULL,
    material character varying(255),
    type character varying(255)
);


ALTER TABLE public.bathroom_accessories OWNER TO postgres;

--
-- Name: bathroom_accessories_entity; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.bathroom_accessories_entity (
    id bigint NOT NULL,
    shower_id bigint,
    sink_id bigint,
    toilet_id bigint
);


ALTER TABLE public.bathroom_accessories_entity OWNER TO postgres;

--
-- Name: bathroom_accessories_entity_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.bathroom_accessories_entity ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.bathroom_accessories_entity_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: bathroom_accessories_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.bathroom_accessories ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.bathroom_accessories_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: building_regulations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.building_regulations (
    id bigint NOT NULL,
    category character varying(255),
    content character varying(10000) NOT NULL,
    document_url character varying(255),
    effective_date timestamp(6) without time zone NOT NULL,
    is_active boolean,
    last_updated timestamp(6) without time zone,
    province character varying(255) NOT NULL,
    title character varying(255) NOT NULL
);


ALTER TABLE public.building_regulations OWNER TO postgres;

--
-- Name: building_regulations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.building_regulations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.building_regulations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: cabinets_entity; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cabinets_entity (
    id bigint NOT NULL,
    color character varying(255),
    material character varying(255)
);


ALTER TABLE public.cabinets_entity OWNER TO postgres;

--
-- Name: cabinets_entity_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.cabinets_entity ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.cabinets_entity_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: calculation_structure_entity; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.calculation_structure_entity (
    id bigint NOT NULL,
    area_square_feet double precision NOT NULL,
    floor_id character varying(255),
    floor_number integer NOT NULL,
    heated boolean NOT NULL,
    material character varying(255),
    balcony_id bigint,
    baseboard_id bigint,
    bathroom_accessories_id bigint,
    ceiling_id bigint,
    kitchen_accessories_id bigint,
    painting_id bigint,
    roof_id bigint
);


ALTER TABLE public.calculation_structure_entity OWNER TO postgres;

--
-- Name: calculation_structure_entity_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.calculation_structure_entity ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.calculation_structure_entity_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.categories (
    id bigint NOT NULL,
    name character varying(255)
);


ALTER TABLE public.categories OWNER TO postgres;

--
-- Name: categories_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.categories ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.categories_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ceiling_entity; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ceiling_entity (
    id bigint NOT NULL,
    height_foot double precision NOT NULL,
    material character varying(255),
    paint_color character varying(255)
);


ALTER TABLE public.ceiling_entity OWNER TO postgres;

--
-- Name: ceiling_entity_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ceiling_entity ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ceiling_entity_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: client_applications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.client_applications (
    id uuid NOT NULL,
    allowed_origins character varying(255),
    client_id character varying(255) NOT NULL,
    client_secret character varying(255) NOT NULL,
    created_at timestamp(6) without time zone,
    created_by character varying(255),
    description character varying(255) NOT NULL,
    is_enabled boolean NOT NULL,
    name character varying(255) NOT NULL,
    redirect_uris character varying(255),
    updated_at timestamp(6) without time zone,
    updated_by character varying(255),
    owner_id uuid
);


ALTER TABLE public.client_applications OWNER TO postgres;

--
-- Name: client_entity; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.client_entity (
    id bigint NOT NULL,
    client_name character varying(255),
    email character varying(255),
    phone_number character varying(255)
);


ALTER TABLE public.client_entity OWNER TO postgres;

--
-- Name: client_entity_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.client_entity ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.client_entity_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: client_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.client_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.client_id_seq OWNER TO postgres;

--
-- Name: countertop_entity; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.countertop_entity (
    id bigint NOT NULL,
    length_foot double precision NOT NULL,
    material character varying(255),
    width_foot double precision NOT NULL
);


ALTER TABLE public.countertop_entity OWNER TO postgres;

--
-- Name: countertop_entity_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.countertop_entity ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.countertop_entity_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: door_dimensions_entity; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.door_dimensions_entity (
    id bigint NOT NULL,
    door_height_foot double precision,
    door_height_inches double precision,
    door_thickness double precision,
    door_width_foot double precision,
    door_width_inches double precision,
    wall_id bigint
);


ALTER TABLE public.door_dimensions_entity OWNER TO postgres;

--
-- Name: door_dimensions_entity_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.door_dimensions_entity ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.door_dimensions_entity_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: door_entity; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.door_entity (
    id bigint NOT NULL,
    door_id character varying(255),
    height_foot double precision NOT NULL,
    height_inches integer NOT NULL,
    thickness_inch double precision NOT NULL,
    width_foot double precision NOT NULL,
    width_inches integer NOT NULL,
    wall_id bigint,
    height double precision,
    width double precision
);


ALTER TABLE public.door_entity OWNER TO postgres;

--
-- Name: door_entity_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.door_entity ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.door_entity_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: estimates; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.estimates (
    id bigint NOT NULL,
    additional_costs numeric(38,2),
    created_at timestamp(6) without time zone NOT NULL,
    labor_cost numeric(38,2) NOT NULL,
    materials_cost numeric(38,2) NOT NULL,
    notes character varying(255),
    tax_amount numeric(38,2),
    tax_rate numeric(38,2),
    total_cost numeric(38,2) NOT NULL,
    valid_until timestamp(6) without time zone,
    project_id bigint NOT NULL
);


ALTER TABLE public.estimates OWNER TO postgres;

--
-- Name: estimates_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.estimates ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.estimates_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: floor_entity; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.floor_entity (
    id bigint NOT NULL,
    area_square_feet double precision NOT NULL,
    floor_id bigint,
    floor_number integer NOT NULL,
    heated boolean NOT NULL,
    material character varying(255),
    balcony_id bigint,
    baseboard_id bigint,
    bathroom_accessories_id bigint,
    ceiling_id bigint,
    kitchen_accessories_id bigint,
    painting_id bigint,
    project_id bigint,
    roof_id bigint,
    is_wet_area boolean NOT NULL
);


ALTER TABLE public.floor_entity OWNER TO postgres;

--
-- Name: floor_entity_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.floor_entity ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.floor_entity_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: flyway_schema_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.flyway_schema_history (
    installed_rank integer NOT NULL,
    version character varying(50),
    description character varying(200) NOT NULL,
    type character varying(20) NOT NULL,
    script character varying(1000) NOT NULL,
    checksum integer,
    installed_by character varying(100) NOT NULL,
    installed_on timestamp without time zone DEFAULT now() NOT NULL,
    execution_time integer NOT NULL,
    success boolean NOT NULL
);


ALTER TABLE public.flyway_schema_history OWNER TO postgres;

--
-- Name: house_owner; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.house_owner (
    id bigint NOT NULL,
    ownership_percentage double precision NOT NULL,
    client_id bigint,
    project_id bigint
);


ALTER TABLE public.house_owner OWNER TO postgres;

--
-- Name: house_owner_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.house_owner ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.house_owner_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: kitchen_accessories_entity; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.kitchen_accessories_entity (
    id bigint NOT NULL,
    cabinets_id bigint,
    countertop_id bigint,
    sink_id bigint
);


ALTER TABLE public.kitchen_accessories_entity OWNER TO postgres;

--
-- Name: kitchen_accessories_entity_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.kitchen_accessories_entity ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.kitchen_accessories_entity_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: location_entity; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.location_entity (
    id bigint NOT NULL,
    address character varying(255),
    city character varying(255),
    postal_code character varying(255),
    province character varying(255)
);


ALTER TABLE public.location_entity OWNER TO postgres;

--
-- Name: location_entity_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.location_entity ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.location_entity_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: materials; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.materials (
    id bigint NOT NULL,
    category character varying(255) NOT NULL,
    description character varying(255),
    name character varying(255) NOT NULL,
    quantity numeric(38,2) NOT NULL,
    total_price numeric(38,2),
    unit character varying(255) NOT NULL,
    unit_price numeric(38,2),
    project_id bigint NOT NULL,
    supplier_id bigint
);


ALTER TABLE public.materials OWNER TO postgres;

--
-- Name: materials_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.materials ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.materials_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: measurements; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.measurements (
    id bigint NOT NULL,
    height double precision,
    image oid,
    "timestamp" timestamp(6) without time zone,
    width double precision,
    worker_name character varying(255)
);


ALTER TABLE public.measurements OWNER TO postgres;

--
-- Name: measurements_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.measurements ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.measurements_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: painting_entity; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.painting_entity (
    id bigint NOT NULL,
    exterior_wall_color character varying(255),
    interior_wall_color character varying(255)
);


ALTER TABLE public.painting_entity OWNER TO postgres;

--
-- Name: painting_entity_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.painting_entity ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.painting_entity_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: permissionEntities; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.permissions (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    action character varying(255) NOT NULL,
    description character varying(255),
    resource character varying(255) NOT NULL
);


ALTER TABLE public.permissions OWNER TO postgres;

--
-- Name: permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: products; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products (
    id bigint NOT NULL,
    dimensions character varying(255),
    location character varying(255),
    name character varying(255),
    price_per_unit double precision NOT NULL,
    quantity integer NOT NULL,
    supplier character varying(255),
    category_id bigint,
    subcategory_id bigint
);


ALTER TABLE public.products OWNER TO postgres;

--
-- Name: products_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.products ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.products_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: project_entity; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.project_entity (
    id bigint NOT NULL,
    building_type character varying(255),
    date_time timestamp(6) without time zone,
    has_basement boolean NOT NULL,
    number_of_floors integer NOT NULL,
    project_name character varying(255),
    location_id bigint
);


ALTER TABLE public.project_entity OWNER TO postgres;

--
-- Name: project_entity_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.project_entity ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.project_entity_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: projects; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.projects (
    id bigint NOT NULL,
    actual_completion_date timestamp(6) without time zone,
    created_at timestamp(6) without time zone NOT NULL,
    description character varying(255),
    estimated_budget numeric(38,2),
    estimated_completion_date timestamp(6) without time zone,
    name character varying(255) NOT NULL,
    start_date timestamp(6) without time zone,
    status character varying(255) NOT NULL,
    contractor_id bigint,
    property_id bigint NOT NULL,
    CONSTRAINT projects_status_check CHECK (((status)::text = ANY ((ARRAY['PLANNING'::character varying, 'IN_PROGRESS'::character varying, 'ON_HOLD'::character varying, 'COMPLETED'::character varying, 'CANCELLED'::character varying])::text[])))
);


ALTER TABLE public.projects OWNER TO postgres;

--
-- Name: projects_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.projects ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.projects_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: properties; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.properties (
    id bigint NOT NULL,
    address character varying(255) NOT NULL,
    city character varying(255),
    description character varying(255),
    name character varying(255) NOT NULL,
    postal_code character varying(255),
    property_type character varying(255),
    province character varying(255),
    owner_id bigint NOT NULL
);


ALTER TABLE public.properties OWNER TO postgres;

--
-- Name: properties_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.properties ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.properties_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: roleEntities; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.roles (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    description character varying(255)
);


ALTER TABLE public.roles OWNER TO postgres;

--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.roles ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.roles_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: roles_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.roles_permissions (
    role_id bigint NOT NULL,
    permission_id bigint NOT NULL
);


ALTER TABLE public.roles_permissions OWNER TO postgres;

--
-- Name: roof_entity; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.roof_entity (
    id bigint NOT NULL,
    area_square_feet double precision NOT NULL,
    insulationrvalue character varying(255),
    material character varying(255),
    slope_degree integer NOT NULL,
    structure_type character varying(255)
);


ALTER TABLE public.roof_entity OWNER TO postgres;

--
-- Name: roof_entity_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.roof_entity ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.roof_entity_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: room_entity; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.room_entity (
    room_id bigint NOT NULL,
    floor_number integer NOT NULL,
    room_type character varying(255),
    id bigint NOT NULL,
    is_wet_area boolean NOT NULL,
    uuid bytea
);


ALTER TABLE public.room_entity OWNER TO postgres;

--
-- Name: room_entity_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.room_entity ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.room_entity_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: room_entity_room_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.room_entity ALTER COLUMN room_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.room_entity_room_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: rooms; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rooms (
    id bigint NOT NULL,
    description character varying(255),
    name character varying(255) NOT NULL,
    property_id bigint NOT NULL
);


ALTER TABLE public.rooms OWNER TO postgres;

--
-- Name: rooms_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.rooms ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.rooms_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: shower_entity; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.shower_entity (
    id bigint NOT NULL,
    height_foot double precision NOT NULL,
    material character varying(255),
    type character varying(255)
);


ALTER TABLE public.shower_entity OWNER TO postgres;

--
-- Name: shower_entity_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.shower_entity ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.shower_entity_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: sink_entity; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sink_entity (
    id bigint NOT NULL,
    faucet_material character varying(255),
    material character varying(255)
);


ALTER TABLE public.sink_entity OWNER TO postgres;

--
-- Name: sink_entity_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.sink_entity ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.sink_entity_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: subcategories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.subcategories (
    id bigint NOT NULL,
    name character varying(255),
    category_id bigint
);


ALTER TABLE public.subcategories OWNER TO postgres;

--
-- Name: subcategories_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.subcategories ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.subcategories_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: toilet_entity; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.toilet_entity (
    id bigint NOT NULL,
    material character varying(255),
    type character varying(255)
);


ALTER TABLE public.toilet_entity OWNER TO postgres;

--
-- Name: toilet_entity_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.toilet_entity ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.toilet_entity_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_roles (
    user_id bigint NOT NULL,
    roles character varying(255)
);


ALTER TABLE public.user_roles OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    company_name character varying(255),
    created_at timestamp(6) without time zone NOT NULL,
    email character varying(255) NOT NULL,
    first_name character varying(255) NOT NULL,
    last_login_at timestamp(6) without time zone,
    last_name character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    phone character varying(255),
    roleEntity character varying(255) NOT NULL,
    created_by character varying(255),
    is_account_non_expired boolean NOT NULL,
    is_account_non_locked boolean NOT NULL,
    is_credentials_non_expired boolean NOT NULL,
    is_enabled boolean NOT NULL,
    updated_at timestamp(6) without time zone,
    updated_by character varying(255),
    username character varying(255) NOT NULL,
    CONSTRAINT users_role_check CHECK (((roleEntity)::text = ANY ((ARRAY['ADMIN'::character varying, 'CONTRACTOR'::character varying, 'CLIENT'::character varying, 'EMPLOYEE'::character varying, 'SUPPLIER'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_roles (
    user_id bigint NOT NULL,
    role_id bigint NOT NULL
);


ALTER TABLE public.users_roles OWNER TO postgres;

--
-- Name: wall_entity; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.wall_entity (
    id bigint NOT NULL,
    description character varying(255),
    height_foot double precision NOT NULL,
    height_inches double precision NOT NULL,
    length_foot double precision NOT NULL,
    length_inches double precision NOT NULL,
    material character varying(255),
    type character varying(255),
    wall_id character varying(255),
    wall_thickness_inch double precision NOT NULL,
    floor_id bigint,
    calculation_structure_id bigint,
    is_external boolean NOT NULL,
    height double precision NOT NULL,
    length double precision NOT NULL,
    linear_footage double precision NOT NULL,
    square_footage double precision NOT NULL,
    room_id bigint,
    material_type character varying(255),
    floor_number integer NOT NULL,
    uuid bytea,
    room_sides character varying(255),
    room_uuid bytea,
    number_of_plates integer,
    stud_spacing_inch double precision,
    stud_count integer DEFAULT 0 NOT NULL,
    stud_linear_footage double precision DEFAULT 0.0 NOT NULL
);


ALTER TABLE public.wall_entity OWNER TO postgres;

--
-- Name: wall_entity_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.wall_entity ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.wall_entity_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: wall_features; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.wall_features (
    wall_id bigint NOT NULL,
    area numeric(38,2),
    feature_type character varying(255),
    height numeric(38,2),
    width numeric(38,2)
);


ALTER TABLE public.wall_features OWNER TO postgres;

--
-- Name: wall_measurement_entity; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.wall_measurement_entity (
    id bigint NOT NULL,
    area double precision,
    identify_wall character varying(255),
    side_of_wall character varying(255),
    stud_spacing double precision,
    wall_height_foot double precision,
    wall_height_inches double precision,
    wall_length_foot double precision,
    wall_length_inches double precision,
    wall_thickness double precision,
    CONSTRAINT wall_measurement_entity_side_of_wall_check CHECK (((side_of_wall)::text = ANY ((ARRAY['INTERNAL'::character varying, 'EXTERNAL'::character varying])::text[])))
);


ALTER TABLE public.wall_measurement_entity OWNER TO postgres;

--
-- Name: wall_measurement_entity_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.wall_measurement_entity ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.wall_measurement_entity_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: wall_room; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.wall_room (
    room_id bigint NOT NULL,
    wall_id bigint NOT NULL
);


ALTER TABLE public.wall_room OWNER TO postgres;

--
-- Name: wall_room_mapping; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.wall_room_mapping (
    id bigint NOT NULL,
    side character varying(255),
    room_id bigint,
    wall_id bigint
);


ALTER TABLE public.wall_room_mapping OWNER TO postgres;

--
-- Name: wall_room_mapping_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.wall_room_mapping ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.wall_room_mapping_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: walls; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.walls (
    id bigint NOT NULL,
    area numeric(38,2),
    height numeric(38,2) NOT NULL,
    length numeric(38,2) NOT NULL,
    name character varying(255) NOT NULL,
    notes character varying(255),
    photo_url character varying(255),
    room_id bigint NOT NULL
);


ALTER TABLE public.walls OWNER TO postgres;

--
-- Name: walls_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.walls ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.walls_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: window_dimensions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.window_dimensions (
    id bigint NOT NULL,
    windows_height_foot double precision,
    windows_height_inches double precision,
    windows_thickness double precision,
    windows_width_foot double precision,
    windows_width_inches double precision,
    wall_measurement_id bigint
);


ALTER TABLE public.window_dimensions OWNER TO postgres;

--
-- Name: window_dimensions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.window_dimensions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.window_dimensions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: window_entity; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.window_entity (
    id bigint NOT NULL,
    height_foot double precision NOT NULL,
    height_inches integer NOT NULL,
    thickness_inch double precision NOT NULL,
    width_foot double precision NOT NULL,
    width_inches integer NOT NULL,
    window_id character varying(255),
    wall_id bigint,
    height double precision,
    width double precision
);


ALTER TABLE public.window_entity OWNER TO postgres;

--
-- Name: window_entity_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.window_entity ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.window_entity_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: category; Type: TABLE DATA; Schema: material; Owner: postgres
--



--
-- Data for Name: company; Type: TABLE DATA; Schema: material; Owner: postgres
--

COPY material.company (id, name, url) FROM stdin;
1	Home Depot	https://www.homedepot.ca/en/home/categories/building-materials.html
\.


--
-- Data for Name: product; Type: TABLE DATA; Schema: material; Owner: postgres
--

COPY material.product (id, name, price, company_id, sub_category_id) FROM stdin;
\.


--
-- Data for Name: sub_category; Type: TABLE DATA; Schema: material; Owner: postgres
--

COPY material.sub_category (id, name, category_id) FROM stdin;
\.


--
-- Data for Name: app_user; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.app_user (id, password, username) FROM stdin;
1	$2a$10$I9mySNS8rxtYaZF25F3yme9PK/l47q1Uu.hkjTlENVbM4GM23dI3y	admin
\.


--
-- Data for Name: app_user_roles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.app_user_roles (user_id, roleEntity) FROM stdin;
1	ADMIN
\.


--
-- Data for Name: balcony_entity; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.balcony_entity (id, balcony_area_square_feet, estimated_cost_per_square_foot, floor_material, has_balcony, railing_material, structure_type, total_estimated_cost) FROM stdin;
\.


--
-- Data for Name: baseboard_entity; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.baseboard_entity (id, height_inches, material, paint_color) FROM stdin;
\.


--
-- Data for Name: bathroom_accessories; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.bathroom_accessories (id, height, material, type) FROM stdin;
\.


--
-- Data for Name: bathroom_accessories_entity; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.bathroom_accessories_entity (id, shower_id, sink_id, toilet_id) FROM stdin;
\.


--
-- Data for Name: building_regulations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.building_regulations (id, category, content, document_url, effective_date, is_active, last_updated, province, title) FROM stdin;
\.


--
-- Data for Name: cabinets_entity; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cabinets_entity (id, color, material) FROM stdin;
\.


--
-- Data for Name: calculation_structure_entity; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.calculation_structure_entity (id, area_square_feet, floor_id, floor_number, heated, material, balcony_id, baseboard_id, bathroom_accessories_id, ceiling_id, kitchen_accessories_id, painting_id, roof_id) FROM stdin;
\.


--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.categories (id, name) FROM stdin;
1	Wood
2	Doors
3	Windows
4	Nails
5	Concrete
6	Bricks
7	Insulation
8	Roofing
9	Siding
10	Drywall
11	Paint
12	Lumber
13	Doors
14	Windows
15	Paints
16	Nails & Screws
17	Drywall
18	Tiles
19	Tools
20	Adhesives & Sealants
21	Hardware
22	Pipes & Fittings
23	Electrical Supplies
24	Wires & Cables
25	Roofing Materials
26	Lumber
27	Doors
28	Windows
29	Paint
30	Hardware
31	Drywall
32	Tiles
33	Tools
\.


--
-- Data for Name: ceiling_entity; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ceiling_entity (id, height_foot, material, paint_color) FROM stdin;
\.


--
-- Data for Name: client_applications; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.client_applications (id, allowed_origins, client_id, client_secret, created_at, created_by, description, is_enabled, name, redirect_uris, updated_at, updated_by, owner_id) FROM stdin;
\.


--
-- Data for Name: client_entity; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.client_entity (id, client_name, email, phone_number) FROM stdin;
\.


--
-- Data for Name: countertop_entity; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.countertop_entity (id, length_foot, material, width_foot) FROM stdin;
\.


--
-- Data for Name: door_dimensions_entity; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.door_dimensions_entity (id, door_height_foot, door_height_inches, door_thickness, door_width_foot, door_width_inches, wall_id) FROM stdin;
\.


--
-- Data for Name: door_entity; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: estimates; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.estimates (id, additional_costs, created_at, labor_cost, materials_cost, notes, tax_amount, tax_rate, total_cost, valid_until, project_id) FROM stdin;
\.


--
-- Data for Name: floor_entity; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.floor_entity (id, area_square_feet, floor_id, floor_number, heated, material, balcony_id, baseboard_id, bathroom_accessories_id, ceiling_id, kitchen_accessories_id, painting_id, project_id, roof_id, is_wet_area) FROM stdin;
\.


--
-- Data for Name: flyway_schema_history; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.flyway_schema_history (installed_rank, version, description, type, script, checksum, installed_by, installed_on, execution_time, success) FROM stdin;
1	1	<< Flyway Baseline >>	BASELINE	<< Flyway Baseline >>	\N	postgres	2025-04-07 23:53:53.206127	0	t
\.


--
-- Data for Name: house_owner; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.house_owner (id, ownership_percentage, client_id, project_id) FROM stdin;
\.


--
-- Data for Name: kitchen_accessories_entity; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.kitchen_accessories_entity (id, cabinets_id, countertop_id, sink_id) FROM stdin;
\.


--
-- Data for Name: location_entity; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.location_entity (id, address, city, postal_code, province) FROM stdin;
\.


--
-- Data for Name: materials; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.materials (id, category, description, name, quantity, total_price, unit, unit_price, project_id, supplier_id) FROM stdin;
\.


--
-- Data for Name: measurements; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.measurements (id, height, image, "timestamp", width, worker_name) FROM stdin;
\.


--
-- Data for Name: painting_entity; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.painting_entity (id, exterior_wall_color, interior_wall_color) FROM stdin;
\.


--
-- Data for Name: permissionEntities; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.permissions (id, name, action, description, resource) FROM stdin;
\.


--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: project_entity; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.project_entity (id, building_type, date_time, has_basement, number_of_floors, project_name, location_id) FROM stdin;
\.


--
-- Data for Name: projects; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.projects (id, actual_completion_date, created_at, description, estimated_budget, estimated_completion_date, name, start_date, status, contractor_id, property_id) FROM stdin;
\.


--
-- Data for Name: properties; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.properties (id, address, city, description, name, postal_code, property_type, province, owner_id) FROM stdin;
\.


--
-- Data for Name: roleEntities; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.roles (id, name, description) FROM stdin;
\.


--
-- Data for Name: roles_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.roles_permissions (role_id, permission_id) FROM stdin;
\.


--
-- Data for Name: roof_entity; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.roof_entity (id, area_square_feet, insulationrvalue, material, slope_degree, structure_type) FROM stdin;
\.


--
-- Data for Name: room_entity; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.room_entity (room_id, floor_number, room_type, id, is_wet_area, uuid) FROM stdin;
1	1	Living Room	1	f	\\x5a36bf1f3ce64b3484827656f29acd88
2	1	Bathroom	2	f	\\xaf0ed24734ea4ef7bd55c9499424a6b2
\.


--
-- Data for Name: rooms; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.rooms (id, description, name, property_id) FROM stdin;
\.


--
-- Data for Name: shower_entity; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.shower_entity (id, height_foot, material, type) FROM stdin;
\.


--
-- Data for Name: sink_entity; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.sink_entity (id, faucet_material, material) FROM stdin;
\.


--
-- Data for Name: subcategories; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: toilet_entity; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.toilet_entity (id, material, type) FROM stdin;
\.


--
-- Data for Name: user_roles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_roles (user_id, roles) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, company_name, created_at, email, first_name, last_login_at, last_name, password, phone, roleEntity, created_by, is_account_non_expired, is_account_non_locked, is_credentials_non_expired, is_enabled, updated_at, updated_by, username) FROM stdin;
\.


--
-- Data for Name: users_roles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users_roles (user_id, role_id) FROM stdin;
\.


--
-- Data for Name: wall_entity; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: wall_features; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.wall_features (wall_id, area, feature_type, height, width) FROM stdin;
\.


--
-- Data for Name: wall_measurement_entity; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.wall_measurement_entity (id, area, identify_wall, side_of_wall, stud_spacing, wall_height_foot, wall_height_inches, wall_length_foot, wall_length_inches, wall_thickness) FROM stdin;
\.


--
-- Data for Name: wall_room; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.wall_room (room_id, wall_id) FROM stdin;
1	27
1	28
1	30
1	31
1	32
1	35
1	36
1	38
1	39
1	40
1	43
1	44
1	46
1	47
1	48
1	51
1	52
1	54
1	55
1	56
1	59
1	60
1	62
1	63
1	64
1	67
1	68
1	70
1	71
1	72
1	75
1	76
1	78
1	79
1	80
2	28
2	29
2	33
2	34
2	36
2	37
2	41
2	42
2	44
2	45
2	49
2	50
2	52
2	53
2	57
2	58
2	60
2	61
2	65
2	66
2	68
2	69
2	73
2	74
2	76
2	77
2	81
2	82
\.


--
-- Data for Name: wall_room_mapping; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: walls; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.walls (id, area, height, length, name, notes, photo_url, room_id) FROM stdin;
\.


--
-- Data for Name: window_dimensions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.window_dimensions (id, windows_height_foot, windows_height_inches, windows_thickness, windows_width_foot, windows_width_inches, wall_measurement_id) FROM stdin;
\.


--
-- Data for Name: window_entity; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: category_id_seq; Type: SEQUENCE SET; Schema: material; Owner: postgres
--

SELECT pg_catalog.setval('material.category_id_seq', 41, true);


--
-- Name: company_id_seq; Type: SEQUENCE SET; Schema: material; Owner: postgres
--

SELECT pg_catalog.setval('material.company_id_seq', 1, true);


--
-- Name: product_id_seq; Type: SEQUENCE SET; Schema: material; Owner: postgres
--

SELECT pg_catalog.setval('material.product_id_seq', 1, false);


--
-- Name: sub_category_id_seq; Type: SEQUENCE SET; Schema: material; Owner: postgres
--

SELECT pg_catalog.setval('material.sub_category_id_seq', 1, false);


--
-- Name: app_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.app_user_id_seq', 1, true);


--
-- Name: balcony_entity_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.balcony_entity_id_seq', 1, false);


--
-- Name: baseboard_entity_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.baseboard_entity_id_seq', 1, false);


--
-- Name: bathroom_accessories_entity_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.bathroom_accessories_entity_id_seq', 1, false);


--
-- Name: bathroom_accessories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.bathroom_accessories_id_seq', 1, false);


--
-- Name: building_regulations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.building_regulations_id_seq', 1, false);


--
-- Name: cabinets_entity_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cabinets_entity_id_seq', 1, false);


--
-- Name: calculation_structure_entity_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.calculation_structure_entity_id_seq', 1, false);


--
-- Name: categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.categories_id_seq', 33, true);


--
-- Name: ceiling_entity_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ceiling_entity_id_seq', 1, false);


--
-- Name: client_entity_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.client_entity_id_seq', 1, false);


--
-- Name: client_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.client_id_seq', 134, true);


--
-- Name: countertop_entity_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.countertop_entity_id_seq', 1, false);


--
-- Name: door_dimensions_entity_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.door_dimensions_entity_id_seq', 1, false);


--
-- Name: door_entity_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.door_entity_id_seq', 18, true);


--
-- Name: estimates_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.estimates_id_seq', 1, false);


--
-- Name: floor_entity_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.floor_entity_id_seq', 1, false);


--
-- Name: house_owner_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.house_owner_id_seq', 1, false);


--
-- Name: kitchen_accessories_entity_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.kitchen_accessories_entity_id_seq', 1, false);


--
-- Name: location_entity_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.location_entity_id_seq', 1, false);


--
-- Name: materials_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.materials_id_seq', 1, false);


--
-- Name: measurements_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.measurements_id_seq', 1, false);


--
-- Name: painting_entity_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.painting_entity_id_seq', 1, false);


--
-- Name: permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.permissions_id_seq', 1, false);


--
-- Name: products_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_id_seq', 316, true);


--
-- Name: project_entity_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.project_entity_id_seq', 1, false);


--
-- Name: projects_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.projects_id_seq', 1, false);


--
-- Name: properties_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.properties_id_seq', 1, false);


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.roles_id_seq', 1, false);


--
-- Name: roof_entity_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.roof_entity_id_seq', 1, false);


--
-- Name: room_entity_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.room_entity_id_seq', 2, true);


--
-- Name: room_entity_room_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.room_entity_room_id_seq', 2, true);


--
-- Name: rooms_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.rooms_id_seq', 1, false);


--
-- Name: shower_entity_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.shower_entity_id_seq', 1, false);


--
-- Name: sink_entity_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.sink_entity_id_seq', 1, false);


--
-- Name: subcategories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.subcategories_id_seq', 64, true);


--
-- Name: toilet_entity_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.toilet_entity_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 1, false);


--
-- Name: wall_entity_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.wall_entity_id_seq', 82, true);


--
-- Name: wall_measurement_entity_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.wall_measurement_entity_id_seq', 1, false);


--
-- Name: wall_room_mapping_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.wall_room_mapping_id_seq', 63, true);


--
-- Name: walls_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.walls_id_seq', 1, false);


--
-- Name: window_dimensions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.window_dimensions_id_seq', 1, false);


--
-- Name: window_entity_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.window_entity_id_seq', 36, true);


--
-- Name: category category_pkey; Type: CONSTRAINT; Schema: material; Owner: postgres
--

ALTER TABLE ONLY material.category
    ADD CONSTRAINT category_pkey PRIMARY KEY (id);


--
-- Name: company company_pkey; Type: CONSTRAINT; Schema: material; Owner: postgres
--

ALTER TABLE ONLY material.company
    ADD CONSTRAINT company_pkey PRIMARY KEY (id);


--
-- Name: product product_pkey; Type: CONSTRAINT; Schema: material; Owner: postgres
--

ALTER TABLE ONLY material.product
    ADD CONSTRAINT product_pkey PRIMARY KEY (id);


--
-- Name: sub_category sub_category_pkey; Type: CONSTRAINT; Schema: material; Owner: postgres
--

ALTER TABLE ONLY material.sub_category
    ADD CONSTRAINT sub_category_pkey PRIMARY KEY (id);


--
-- Name: company ukniu8sfil2gxywcru9ah3r4ec5; Type: CONSTRAINT; Schema: material; Owner: postgres
--

ALTER TABLE ONLY material.company
    ADD CONSTRAINT ukniu8sfil2gxywcru9ah3r4ec5 UNIQUE (name);


--
-- Name: app_user app_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_user
    ADD CONSTRAINT app_user_pkey PRIMARY KEY (id);


--
-- Name: balcony_entity balcony_entity_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.balcony_entity
    ADD CONSTRAINT balcony_entity_pkey PRIMARY KEY (id);


--
-- Name: baseboard_entity baseboard_entity_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.baseboard_entity
    ADD CONSTRAINT baseboard_entity_pkey PRIMARY KEY (id);


--
-- Name: bathroom_accessories_entity bathroom_accessories_entity_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bathroom_accessories_entity
    ADD CONSTRAINT bathroom_accessories_entity_pkey PRIMARY KEY (id);


--
-- Name: bathroom_accessories bathroom_accessories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bathroom_accessories
    ADD CONSTRAINT bathroom_accessories_pkey PRIMARY KEY (id);


--
-- Name: building_regulations building_regulations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.building_regulations
    ADD CONSTRAINT building_regulations_pkey PRIMARY KEY (id);


--
-- Name: cabinets_entity cabinets_entity_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cabinets_entity
    ADD CONSTRAINT cabinets_entity_pkey PRIMARY KEY (id);


--
-- Name: calculation_structure_entity calculation_structure_entity_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculation_structure_entity
    ADD CONSTRAINT calculation_structure_entity_pkey PRIMARY KEY (id);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: ceiling_entity ceiling_entity_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ceiling_entity
    ADD CONSTRAINT ceiling_entity_pkey PRIMARY KEY (id);


--
-- Name: client_applications client_applications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.client_applications
    ADD CONSTRAINT client_applications_pkey PRIMARY KEY (id);


--
-- Name: client_entity client_entity_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.client_entity
    ADD CONSTRAINT client_entity_pkey PRIMARY KEY (id);


--
-- Name: countertop_entity countertop_entity_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.countertop_entity
    ADD CONSTRAINT countertop_entity_pkey PRIMARY KEY (id);


--
-- Name: door_dimensions_entity door_dimensions_entity_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.door_dimensions_entity
    ADD CONSTRAINT door_dimensions_entity_pkey PRIMARY KEY (id);


--
-- Name: door_entity door_entity_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.door_entity
    ADD CONSTRAINT door_entity_pkey PRIMARY KEY (id);


--
-- Name: estimates estimates_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estimates
    ADD CONSTRAINT estimates_pkey PRIMARY KEY (id);


--
-- Name: floor_entity floor_entity_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.floor_entity
    ADD CONSTRAINT floor_entity_pkey PRIMARY KEY (id);


--
-- Name: flyway_schema_history flyway_schema_history_pk; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.flyway_schema_history
    ADD CONSTRAINT flyway_schema_history_pk PRIMARY KEY (installed_rank);


--
-- Name: house_owner house_owner_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.house_owner
    ADD CONSTRAINT house_owner_pkey PRIMARY KEY (id);


--
-- Name: kitchen_accessories_entity kitchen_accessories_entity_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kitchen_accessories_entity
    ADD CONSTRAINT kitchen_accessories_entity_pkey PRIMARY KEY (id);


--
-- Name: location_entity location_entity_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.location_entity
    ADD CONSTRAINT location_entity_pkey PRIMARY KEY (id);


--
-- Name: materials materials_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.materials
    ADD CONSTRAINT materials_pkey PRIMARY KEY (id);


--
-- Name: measurements measurements_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.measurements
    ADD CONSTRAINT measurements_pkey PRIMARY KEY (id);


--
-- Name: painting_entity painting_entity_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.painting_entity
    ADD CONSTRAINT painting_entity_pkey PRIMARY KEY (id);


--
-- Name: permissionEntities permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT permissions_pkey PRIMARY KEY (id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: project_entity project_entity_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_entity
    ADD CONSTRAINT project_entity_pkey PRIMARY KEY (id);


--
-- Name: projects projects_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_pkey PRIMARY KEY (id);


--
-- Name: properties properties_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.properties
    ADD CONSTRAINT properties_pkey PRIMARY KEY (id);


--
-- Name: roles_permissions roles_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles_permissions
    ADD CONSTRAINT roles_permissions_pkey PRIMARY KEY (role_id, permission_id);


--
-- Name: roleEntities roles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: roof_entity roof_entity_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roof_entity
    ADD CONSTRAINT roof_entity_pkey PRIMARY KEY (id);


--
-- Name: room_entity room_entity_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.room_entity
    ADD CONSTRAINT room_entity_pkey PRIMARY KEY (room_id);


--
-- Name: rooms rooms_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rooms
    ADD CONSTRAINT rooms_pkey PRIMARY KEY (id);


--
-- Name: shower_entity shower_entity_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shower_entity
    ADD CONSTRAINT shower_entity_pkey PRIMARY KEY (id);


--
-- Name: sink_entity sink_entity_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sink_entity
    ADD CONSTRAINT sink_entity_pkey PRIMARY KEY (id);


--
-- Name: subcategories subcategories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subcategories
    ADD CONSTRAINT subcategories_pkey PRIMARY KEY (id);


--
-- Name: toilet_entity toilet_entity_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.toilet_entity
    ADD CONSTRAINT toilet_entity_pkey PRIMARY KEY (id);


--
-- Name: calculation_structure_entity uk1lih4dg576256c15lcqauc4lh; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculation_structure_entity
    ADD CONSTRAINT uk1lih4dg576256c15lcqauc4lh UNIQUE (kitchen_accessories_id);


--
-- Name: calculation_structure_entity uk1s9elx0ufuxxq1g6lj1090r02; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculation_structure_entity
    ADD CONSTRAINT uk1s9elx0ufuxxq1g6lj1090r02 UNIQUE (painting_id);


--
-- Name: project_entity uk26ytsgc0semvs4a10ik36grlv; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_entity
    ADD CONSTRAINT uk26ytsgc0semvs4a10ik36grlv UNIQUE (location_id);


--
-- Name: kitchen_accessories_entity uk3np8m5mrfp5yrvxpvf2kd1svk; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kitchen_accessories_entity
    ADD CONSTRAINT uk3np8m5mrfp5yrvxpvf2kd1svk UNIQUE (sink_id);


--
-- Name: floor_entity uk3p23pcurx1gy9euxmdvwyi3pr; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.floor_entity
    ADD CONSTRAINT uk3p23pcurx1gy9euxmdvwyi3pr UNIQUE (balcony_id);


--
-- Name: floor_entity uk4pu7gdr5y7yl51trcl8gsujt2; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.floor_entity
    ADD CONSTRAINT uk4pu7gdr5y7yl51trcl8gsujt2 UNIQUE (roof_id);


--
-- Name: calculation_structure_entity uk4qanbvl6l6runxi0hvev1tqla; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculation_structure_entity
    ADD CONSTRAINT uk4qanbvl6l6runxi0hvev1tqla UNIQUE (baseboard_id);


--
-- Name: bathroom_accessories_entity uk5dxysb3nsxk0qg8mq3mbkgvlu; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bathroom_accessories_entity
    ADD CONSTRAINT uk5dxysb3nsxk0qg8mq3mbkgvlu UNIQUE (shower_id);


--
-- Name: users uk6dotkott2kjsp8vw4d0m25fb7; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT uk6dotkott2kjsp8vw4d0m25fb7 UNIQUE (email);


--
-- Name: calculation_structure_entity uk7hw997mfbhv6c78d374xmd5ep; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculation_structure_entity
    ADD CONSTRAINT uk7hw997mfbhv6c78d374xmd5ep UNIQUE (ceiling_id);


--
-- Name: client_applications uk_8uxvg0ajhajkybtds7wy67vl; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.client_applications
    ADD CONSTRAINT uk_8uxvg0ajhajkybtds7wy67vl UNIQUE (client_id);


--
-- Name: client_applications uk_ijvtvphhcqxdvyfrhdiun2mre; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.client_applications
    ADD CONSTRAINT uk_ijvtvphhcqxdvyfrhdiun2mre UNIQUE (name);


--
-- Name: users uk_r43af9ap4edm43mmtq01oddj6; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT uk_r43af9ap4edm43mmtq01oddj6 UNIQUE (username);


--
-- Name: calculation_structure_entity ukbp8xf3jkeowyx9v8yendakkga; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculation_structure_entity
    ADD CONSTRAINT ukbp8xf3jkeowyx9v8yendakkga UNIQUE (balcony_id);


--
-- Name: bathroom_accessories_entity ukc3xqttofdkyxb25ru3sfsya0c; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bathroom_accessories_entity
    ADD CONSTRAINT ukc3xqttofdkyxb25ru3sfsya0c UNIQUE (toilet_id);


--
-- Name: bathroom_accessories_entity ukcdqe9j6jd8uhph4fmnd5gdij7; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bathroom_accessories_entity
    ADD CONSTRAINT ukcdqe9j6jd8uhph4fmnd5gdij7 UNIQUE (sink_id);


--
-- Name: kitchen_accessories_entity ukcogj6skpirdn8r3yy21ptn6ur; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kitchen_accessories_entity
    ADD CONSTRAINT ukcogj6skpirdn8r3yy21ptn6ur UNIQUE (countertop_id);


--
-- Name: floor_entity ukd2dwn0co5yj5kleiwh3cfkym4; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.floor_entity
    ADD CONSTRAINT ukd2dwn0co5yj5kleiwh3cfkym4 UNIQUE (baseboard_id);


--
-- Name: calculation_structure_entity uke00ba7knfav51s0etggx4c3ch; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculation_structure_entity
    ADD CONSTRAINT uke00ba7knfav51s0etggx4c3ch UNIQUE (bathroom_accessories_id);


--
-- Name: floor_entity uki1bshn0iaornqyjrqcymxp271; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.floor_entity
    ADD CONSTRAINT uki1bshn0iaornqyjrqcymxp271 UNIQUE (kitchen_accessories_id);


--
-- Name: floor_entity ukkka2sbfrayrefuuw6wfgomhk2; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.floor_entity
    ADD CONSTRAINT ukkka2sbfrayrefuuw6wfgomhk2 UNIQUE (bathroom_accessories_id);


--
-- Name: floor_entity ukmyxwxbymrif9r00dgj5ayqdnb; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.floor_entity
    ADD CONSTRAINT ukmyxwxbymrif9r00dgj5ayqdnb UNIQUE (ceiling_id);


--
-- Name: calculation_structure_entity ukna7lnteumtwookhwh5q5sjigy; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculation_structure_entity
    ADD CONSTRAINT ukna7lnteumtwookhwh5q5sjigy UNIQUE (roof_id);


--
-- Name: roleEntities ukofx66keruapi6vyqpv6f2or37; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT ukofx66keruapi6vyqpv6f2or37 UNIQUE (name);


--
-- Name: permissionEntities ukpnvtwliis6p05pn6i3ndjrqt2; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT ukpnvtwliis6p05pn6i3ndjrqt2 UNIQUE (name);


--
-- Name: floor_entity ukqcw5k97xu0wfsluomo3n7nc74; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.floor_entity
    ADD CONSTRAINT ukqcw5k97xu0wfsluomo3n7nc74 UNIQUE (painting_id);


--
-- Name: estimates uks3fc1yfa1qyjdibf549l55dyo; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estimates
    ADD CONSTRAINT uks3fc1yfa1qyjdibf549l55dyo UNIQUE (project_id);


--
-- Name: kitchen_accessories_entity uktrbp0m2pckfi1fkexy37vhrmi; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kitchen_accessories_entity
    ADD CONSTRAINT uktrbp0m2pckfi1fkexy37vhrmi UNIQUE (cabinets_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users_roles users_roles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_roles
    ADD CONSTRAINT users_roles_pkey PRIMARY KEY (user_id, role_id);


--
-- Name: wall_entity wall_entity_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wall_entity
    ADD CONSTRAINT wall_entity_pkey PRIMARY KEY (id);


--
-- Name: wall_measurement_entity wall_measurement_entity_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wall_measurement_entity
    ADD CONSTRAINT wall_measurement_entity_pkey PRIMARY KEY (id);


--
-- Name: wall_room_mapping wall_room_mapping_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wall_room_mapping
    ADD CONSTRAINT wall_room_mapping_pkey PRIMARY KEY (id);


--
-- Name: walls walls_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.walls
    ADD CONSTRAINT walls_pkey PRIMARY KEY (id);


--
-- Name: window_dimensions window_dimensions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.window_dimensions
    ADD CONSTRAINT window_dimensions_pkey PRIMARY KEY (id);


--
-- Name: window_entity window_entity_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.window_entity
    ADD CONSTRAINT window_entity_pkey PRIMARY KEY (id);


--
-- Name: flyway_schema_history_s_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX flyway_schema_history_s_idx ON public.flyway_schema_history USING btree (success);


--
-- Name: category fk2twm010w181ypxiegra4o0rgc; Type: FK CONSTRAINT; Schema: material; Owner: postgres
--

ALTER TABLE ONLY material.category
    ADD CONSTRAINT fk2twm010w181ypxiegra4o0rgc FOREIGN KEY (company_id) REFERENCES material.company(id);


--
-- Name: product fkd9gfnsjgfwjtaxl57udrbocsp; Type: FK CONSTRAINT; Schema: material; Owner: postgres
--

ALTER TABLE ONLY material.product
    ADD CONSTRAINT fkd9gfnsjgfwjtaxl57udrbocsp FOREIGN KEY (sub_category_id) REFERENCES material.sub_category(id);


--
-- Name: product fkghawd5rtv8ok565nwpdyyuto9; Type: FK CONSTRAINT; Schema: material; Owner: postgres
--

ALTER TABLE ONLY material.product
    ADD CONSTRAINT fkghawd5rtv8ok565nwpdyyuto9 FOREIGN KEY (company_id) REFERENCES material.company(id);


--
-- Name: sub_category fkl65dyy5me2ypoyj8ou1hnt64e; Type: FK CONSTRAINT; Schema: material; Owner: postgres
--

ALTER TABLE ONLY material.sub_category
    ADD CONSTRAINT fkl65dyy5me2ypoyj8ou1hnt64e FOREIGN KEY (category_id) REFERENCES material.category(id);


--
-- Name: calculation_structure_entity fk1c953mv8xbp2l3fs9fdcr33j8; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculation_structure_entity
    ADD CONSTRAINT fk1c953mv8xbp2l3fs9fdcr33j8 FOREIGN KEY (balcony_id) REFERENCES public.balcony_entity(id);


--
-- Name: floor_entity fk1ipfxn56i7fbn7v61kn5ky8pm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.floor_entity
    ADD CONSTRAINT fk1ipfxn56i7fbn7v61kn5ky8pm FOREIGN KEY (bathroom_accessories_id) REFERENCES public.bathroom_accessories_entity(id);


--
-- Name: bathroom_accessories_entity fk1w6ilyxww94n61cpkab880cl8; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bathroom_accessories_entity
    ADD CONSTRAINT fk1w6ilyxww94n61cpkab880cl8 FOREIGN KEY (sink_id) REFERENCES public.sink_entity(id);


--
-- Name: project_entity fk1wdwt08obxwv9mk6rmcyutl3p; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_entity
    ADD CONSTRAINT fk1wdwt08obxwv9mk6rmcyutl3p FOREIGN KEY (location_id) REFERENCES public.location_entity(id);


--
-- Name: calculation_structure_entity fk2exjqw1v175bq0n14mcoulyxv; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculation_structure_entity
    ADD CONSTRAINT fk2exjqw1v175bq0n14mcoulyxv FOREIGN KEY (roof_id) REFERENCES public.roof_entity(id);


--
-- Name: users_roles fk2o0jvgh89lemvvo17cbqvdxaa; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_roles
    ADD CONSTRAINT fk2o0jvgh89lemvvo17cbqvdxaa FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: bathroom_accessories_entity fk2olb2eb43pxh8hj8u42mas5xu; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bathroom_accessories_entity
    ADD CONSTRAINT fk2olb2eb43pxh8hj8u42mas5xu FOREIGN KEY (shower_id) REFERENCES public.shower_entity(id);


--
-- Name: properties fk32k2h9s30s0ukftb8hj947ef2; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.properties
    ADD CONSTRAINT fk32k2h9s30s0ukftb8hj947ef2 FOREIGN KEY (owner_id) REFERENCES public.users(id);


--
-- Name: rooms fk35r032kwh410ggyqcbqrnhcut; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rooms
    ADD CONSTRAINT fk35r032kwh410ggyqcbqrnhcut FOREIGN KEY (property_id) REFERENCES public.properties(id);


--
-- Name: floor_entity fk3kw63jdxe6ga0vv3r2hajcc99; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.floor_entity
    ADD CONSTRAINT fk3kw63jdxe6ga0vv3r2hajcc99 FOREIGN KEY (ceiling_id) REFERENCES public.ceiling_entity(id);


--
-- Name: app_user_roles fk3lwiahkol5aetc57pto5olacf; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_user_roles
    ADD CONSTRAINT fk3lwiahkol5aetc57pto5olacf FOREIGN KEY (user_id) REFERENCES public.app_user(id);


--
-- Name: floor_entity fk5316vx19psp4pmyhxj02xjru3; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.floor_entity
    ADD CONSTRAINT fk5316vx19psp4pmyhxj02xjru3 FOREIGN KEY (painting_id) REFERENCES public.painting_entity(id);


--
-- Name: calculation_structure_entity fk658d6cvwbmgiixcqat4cf06df; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculation_structure_entity
    ADD CONSTRAINT fk658d6cvwbmgiixcqat4cf06df FOREIGN KEY (bathroom_accessories_id) REFERENCES public.bathroom_accessories_entity(id);


--
-- Name: estimates fkaoye2bddvstgi10wodytp9m2e; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estimates
    ADD CONSTRAINT fkaoye2bddvstgi10wodytp9m2e FOREIGN KEY (project_id) REFERENCES public.projects(id);


--
-- Name: products fkappm930ygdfv4qkkhc05pbr5s; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT fkappm930ygdfv4qkkhc05pbr5s FOREIGN KEY (subcategory_id) REFERENCES public.subcategories(id);


--
-- Name: wall_room_mapping fkb34fy7xm1au92tyeff4u1xa2b; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wall_room_mapping
    ADD CONSTRAINT fkb34fy7xm1au92tyeff4u1xa2b FOREIGN KEY (room_id) REFERENCES public.room_entity(room_id);


--
-- Name: floor_entity fkb3l5p4w3j9uyoqeeryq30o7xo; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.floor_entity
    ADD CONSTRAINT fkb3l5p4w3j9uyoqeeryq30o7xo FOREIGN KEY (baseboard_id) REFERENCES public.baseboard_entity(id);


--
-- Name: floor_entity fkb3nnvket5f8jmw08md5naw9tt; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.floor_entity
    ADD CONSTRAINT fkb3nnvket5f8jmw08md5naw9tt FOREIGN KEY (kitchen_accessories_id) REFERENCES public.kitchen_accessories_entity(id);


--
-- Name: kitchen_accessories_entity fkb84blt69gpehu64mso41u0r8s; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kitchen_accessories_entity
    ADD CONSTRAINT fkb84blt69gpehu64mso41u0r8s FOREIGN KEY (countertop_id) REFERENCES public.countertop_entity(id);


--
-- Name: wall_features fkbra129ejoav3uqwx4nxi2aitk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wall_features
    ADD CONSTRAINT fkbra129ejoav3uqwx4nxi2aitk FOREIGN KEY (wall_id) REFERENCES public.walls(id);


--
-- Name: roles_permissions fkbx9r9uw77p58gsq4mus0mec0o; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles_permissions
    ADD CONSTRAINT fkbx9r9uw77p58gsq4mus0mec0o FOREIGN KEY (permission_id) REFERENCES public.permissions(id);


--
-- Name: wall_room fkcifs5v38bq3nxfbnvan8n5cdf; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wall_room
    ADD CONSTRAINT fkcifs5v38bq3nxfbnvan8n5cdf FOREIGN KEY (room_id) REFERENCES public.room_entity(room_id);


--
-- Name: wall_entity fkcmy345t153hlk0eau1fjf5yf9; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wall_entity
    ADD CONSTRAINT fkcmy345t153hlk0eau1fjf5yf9 FOREIGN KEY (floor_id) REFERENCES public.floor_entity(id);


--
-- Name: walls fkd79q7pyfyjscls4iugtf50wg4; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.walls
    ADD CONSTRAINT fkd79q7pyfyjscls4iugtf50wg4 FOREIGN KEY (room_id) REFERENCES public.rooms(id);


--
-- Name: wall_room_mapping fkekeulbjdytrlo7do9m8xykfnh; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wall_room_mapping
    ADD CONSTRAINT fkekeulbjdytrlo7do9m8xykfnh FOREIGN KEY (wall_id) REFERENCES public.wall_entity(id);


--
-- Name: house_owner fkeoo6r8syt5out518qe7lw8eeg; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.house_owner
    ADD CONSTRAINT fkeoo6r8syt5out518qe7lw8eeg FOREIGN KEY (project_id) REFERENCES public.project_entity(id);


--
-- Name: wall_room fkeqjqyhng0c49sd59jlxnvk3eh; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wall_room
    ADD CONSTRAINT fkeqjqyhng0c49sd59jlxnvk3eh FOREIGN KEY (wall_id) REFERENCES public.wall_entity(id);


--
-- Name: calculation_structure_entity fkevv5b1qvrqvg62a06w7mtdwra; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculation_structure_entity
    ADD CONSTRAINT fkevv5b1qvrqvg62a06w7mtdwra FOREIGN KEY (ceiling_id) REFERENCES public.ceiling_entity(id);


--
-- Name: kitchen_accessories_entity fkfjja5gr3894to77udaqhj6pqv; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kitchen_accessories_entity
    ADD CONSTRAINT fkfjja5gr3894to77udaqhj6pqv FOREIGN KEY (cabinets_id) REFERENCES public.cabinets_entity(id);


--
-- Name: materials fkfx633a67s99ivtxs9c6jidbb1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.materials
    ADD CONSTRAINT fkfx633a67s99ivtxs9c6jidbb1 FOREIGN KEY (project_id) REFERENCES public.projects(id);


--
-- Name: floor_entity fkg5os4nkllwwcnkfopkvqoa00p; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.floor_entity
    ADD CONSTRAINT fkg5os4nkllwwcnkfopkvqoa00p FOREIGN KEY (roof_id) REFERENCES public.roof_entity(id);


--
-- Name: kitchen_accessories_entity fkgvh18ejl60a7qfej85na6d6fc; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kitchen_accessories_entity
    ADD CONSTRAINT fkgvh18ejl60a7qfej85na6d6fc FOREIGN KEY (sink_id) REFERENCES public.sink_entity(id);


--
-- Name: house_owner fkhrjpbkbw0unn06qmnjlnmedmd; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.house_owner
    ADD CONSTRAINT fkhrjpbkbw0unn06qmnjlnmedmd FOREIGN KEY (client_id) REFERENCES public.client_entity(id);


--
-- Name: bathroom_accessories_entity fki3li74uohqhndwjtgw6awpc4k; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bathroom_accessories_entity
    ADD CONSTRAINT fki3li74uohqhndwjtgw6awpc4k FOREIGN KEY (toilet_id) REFERENCES public.toilet_entity(id);


--
-- Name: floor_entity fki70dnkdxrkr5t54tam0c0j4ky; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.floor_entity
    ADD CONSTRAINT fki70dnkdxrkr5t54tam0c0j4ky FOREIGN KEY (project_id) REFERENCES public.project_entity(id);


--
-- Name: subcategories fkiborb6ptvy1t1n3v6klb56l5s; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subcategories
    ADD CONSTRAINT fkiborb6ptvy1t1n3v6klb56l5s FOREIGN KEY (category_id) REFERENCES public.categories(id);


--
-- Name: users_roles fkj6m8fwv7oqv74fcehir1a9ffy; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_roles
    ADD CONSTRAINT fkj6m8fwv7oqv74fcehir1a9ffy FOREIGN KEY (role_id) REFERENCES public.roles(id);


--
-- Name: window_dimensions fkkg2ee6s4gnmudgx76dtvj3q3q; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.window_dimensions
    ADD CONSTRAINT fkkg2ee6s4gnmudgx76dtvj3q3q FOREIGN KEY (wall_measurement_id) REFERENCES public.wall_measurement_entity(id);


--
-- Name: door_dimensions_entity fkmefr4yr0bit7a24rnejm1ysc4; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.door_dimensions_entity
    ADD CONSTRAINT fkmefr4yr0bit7a24rnejm1ysc4 FOREIGN KEY (wall_id) REFERENCES public.wall_measurement_entity(id);


--
-- Name: floor_entity fkmmmsr7p9d2yhgm73eh2d7talv; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.floor_entity
    ADD CONSTRAINT fkmmmsr7p9d2yhgm73eh2d7talv FOREIGN KEY (balcony_id) REFERENCES public.balcony_entity(id);


--
-- Name: wall_entity fkn70btlye33ws06vb2kj07x856; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wall_entity
    ADD CONSTRAINT fkn70btlye33ws06vb2kj07x856 FOREIGN KEY (calculation_structure_id) REFERENCES public.calculation_structure_entity(id);


--
-- Name: window_entity fknp4e25vf4u3dr9cxaevwup751; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.window_entity
    ADD CONSTRAINT fknp4e25vf4u3dr9cxaevwup751 FOREIGN KEY (wall_id) REFERENCES public.wall_entity(id);


--
-- Name: products fkog2rp4qthbtt2lfyhfo32lsw9; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT fkog2rp4qthbtt2lfyhfo32lsw9 FOREIGN KEY (category_id) REFERENCES public.categories(id);


--
-- Name: door_entity fkovq14gy90m391t2k8dymhscms; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.door_entity
    ADD CONSTRAINT fkovq14gy90m391t2k8dymhscms FOREIGN KEY (wall_id) REFERENCES public.wall_entity(id);


--
-- Name: wall_entity fkp1hhsp7s7sx04td8ghbh50nhx; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wall_entity
    ADD CONSTRAINT fkp1hhsp7s7sx04td8ghbh50nhx FOREIGN KEY (room_id) REFERENCES public.room_entity(room_id);


--
-- Name: roles_permissions fkqi9odri6c1o81vjox54eedwyh; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles_permissions
    ADD CONSTRAINT fkqi9odri6c1o81vjox54eedwyh FOREIGN KEY (role_id) REFERENCES public.roles(id);


--
-- Name: materials fkr8dfbf59dtsvfc2uir10v0bks; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.materials
    ADD CONSTRAINT fkr8dfbf59dtsvfc2uir10v0bks FOREIGN KEY (supplier_id) REFERENCES public.users(id);


--
-- Name: calculation_structure_entity fkrn4dgyoqpwkwkfp8p4let78lq; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculation_structure_entity
    ADD CONSTRAINT fkrn4dgyoqpwkwkfp8p4let78lq FOREIGN KEY (kitchen_accessories_id) REFERENCES public.kitchen_accessories_entity(id);


--
-- Name: calculation_structure_entity fkrrscs5k03r7mqwg51n0f4i5o9; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculation_structure_entity
    ADD CONSTRAINT fkrrscs5k03r7mqwg51n0f4i5o9 FOREIGN KEY (painting_id) REFERENCES public.painting_entity(id);


--
-- Name: projects fkruk6a7cso9isxd95qhmuptwyo; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT fkruk6a7cso9isxd95qhmuptwyo FOREIGN KEY (property_id) REFERENCES public.properties(id);


--
-- Name: calculation_structure_entity fksxxsxjyp8j59xtcbaxg9ld9nn; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculation_structure_entity
    ADD CONSTRAINT fksxxsxjyp8j59xtcbaxg9ld9nn FOREIGN KEY (baseboard_id) REFERENCES public.baseboard_entity(id);


--
-- Name: users_roles fkt8grfrdse9vcbf5iarw2f3fut; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_roles
    ADD CONSTRAINT fkt8grfrdse9vcbf5iarw2f3fut FOREIGN KEY (user_id) REFERENCES public.app_user(id);


--
-- Name: projects fktruwcaln035s60ayqcohn7wv4; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT fktruwcaln035s60ayqcohn7wv4 FOREIGN KEY (contractor_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

